<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <% include ../partials/header.ejs%>
    <% include ../partials/user-navigation.ejs%>
    <main>
        <div class="section">
            <ul class="breadcrumb">
                 <li><a href="index">Home</a></li>
                 <li><a href="about">about</a></li>
            </ul>
        <p class="index_maincontent">G2S is the one of the best site on the internet.Welcome to G2S GameSwap World's first PC game CD swapping site. Where PC players meet to exchange their CD to have ultimate fun of all games.  </p>
        </div>
    </main>
    <aside>
        <%include ../partials/site-navigation.ejs%>
        
     </aside>

     <% include ../partials/footer.ejs%>
</body>
</html>