<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>
<body>
    <% include ../partials/header.ejs%>
    <% include ../partials/user-navigation.ejs%>
    <main>
            <div class="section">
                    <ul class="breadcrumb">
                            <li><a href="index">Home</a></li>
                            <li><a href="contact">contact</a></li>
                          </ul>
                <h1>contact us</h1>
            <p class="maincontent"><strong>Name: </strong>SAKETH KUAMR KAPPALA</p>
            <p class="maincontent"><strong>ID: </strong>801046556</p>
            <p class="maincontent"><strong>Email: </strong>someone@gmail.com</p>
            
        </div>
        </main>
    <aside>
        <%include ../partials/site-navigation.ejs%>
        
     </aside>

     <% include ../partials/footer.ejs%>
</body>
</html>